Python Functions
Session 01 : Theory

Function Declaration and Arguments Global and Local Variables Anonymous Function

In [1]:
import random
import numpy as np
import pandas as pd

In [2]:
def y(x=2):
    y = 2*x-4
    return (y)


print(y(6))

8

In [3]:
# Function
def printscreen(s=None):
    "This function is to print str to screen"
    if (s):  # s is None
        print(s)
    else:
        print("This is the default call a function")
    return


printscreen("This is the first call a function")
s = "This is the second call a function"

printscreen(s)
printscreen()

This is the first call a function
This is the second call a function
This is the default call a function

In [3]:
# Question 1: Write a function to input a number N (N >500) and two more numbers (mean,std)
# and do the following things:
# A. Generate an array with N numbers with two decimals following Gauss Distribution(mean, std)
# B. Print the statstics information : min, max, mean, standard deviation, Q1, Q2, Q3, IQR
# C. If we have a rule : a outlier of list is a number are not in the range (Q1 - 1.5*IQR, Q3 + 1.5*IQR).
#    print all the outlier number and its position.

In [4]:
# Question 2: Write a function to input a number N and start, stop
# and do the following things:
# A. Random a N elements of floating number and round to 2 decimals
# B. Seperate the generated list into the Integer and Decimal Part List
# C. Make the three test cases : with start and stop, only start, and no start or stop

In [5]:
# Question 3: Write a function to input a number N (N >50)
# and do the following things:
# A. Generate an array with N positive integer numbers with two any numbers in list have difference more than 2
# B. Print the arithmetic information : average, range, min, max and sum of the list
# C. print the derivative of the list (Derivative is the difference of two consecutive element in List)
def list_infor(step=2.1):
    #
    N = input('Please input a number larger than 50')
    N = int(N)
    step = int(np.ceil(step))
    print(step)
    # L=np.arange(0,step*N,step)
    # L=np.array(L)
    L = random.sample(range(0, N*step), N)
    L = np.array(L)
    print('The generated array is', L)

    print(f"Average: {np.round(L.mean())} Min: {
          L.min()}, Max: {L.max()}, sum: {L.sum()}")
    #
    Deri = L[1:]-L[0:N-1]
    print(Deri)


list_infor()

3
The generated array is [198  24 140 229 121  78 160   3 217 215  52 182 220 224 110 196  64 120
  68  33 228  47 179  21  66  61  88 207 122 132  74 201 113  31 199 106
 194  39 116 112 109 119 231 157 210 233  46 104  15 193 232 129 188  82
 102   5  26 202 118  23 225  41  22  76  62  13  87 162  67 227 216 208
 226  30 134 174  36   7 235]
Average: 124.0 Min: 3, Max: 235, sum: 9762
[-174  116   89 -108  -43   82 -157  214   -2 -163  130   38    4 -114
   86 -132   56  -52  -35  195 -181  132 -158   45   -5   27  119  -85
   10  -58  127  -88  -82  168  -93   88 -155   77   -4   -3   10  112
  -74   53   23 -187   58  -89  178   39 -103   59 -106   20  -97   21
  176  -84  -95  202 -184  -19   54  -14  -49   74   75  -95  160  -11
   -8   18 -196  104   40 -138  -29  228]

In [6]:
# random.randint(low, high=None, size=None, dtype=int)

In [7]:
# Question 4: Write a function with no input
# and do the following things:
# A. Ask user to input continuously a name of user, a name of product and a comment of that user about product
# until they input username is blank
# B. Each input of username, productname, comment add to a row of dataframe
# with three columns (CustomerName, ProductName, and Comment)
# C. Return that dataframe and display it

In [8]:
# Question 5: Import a flight dataset from seaborns
# A. Display Numeric and Categorical Statistics of flight dataset
# B. Write a Function to check the flights with passengers greater than a value mean of passengers.
# And make a column "CheckCondition" in dataframe
# C. Make a column Month-Year
# D. Make a column Description to descibe "The Flight on month-year have N passengers"

import seaborn as sns
flights = sns.load_dataset("flights")
display("Dataset Flight", flights.head())
Stats = flights.describe(include='all')
display("Statistics of Flight", Stats)


def CheckCondition(value):
    return True if value < limit else False


limit = Stats.loc["mean", "passengers"]
flights["CheckCondition"] = flights["passengers"].apply(CheckCondition)
display("Check Passengers Number on Flight", flights.head())

flights["Month-Year"] = [' '.join(i)
                         for i in zip(flights["month"], flights["year"].map(str))]
display("Combine Month-Year on Flight", flights.head())

flights["Flight Description"] = flights[['month', 'year', 'passengers']].apply(
    lambda x: f"The Flight on {x[0]}-{x[1]} have {x[2]} passengers", axis=1
)
display("Combine Month-Year on Flight", flights.head())

'Dataset Flight'

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

'Statistics of Flight'

               year month  passengers
count    144.000000   144  144.000000
unique          NaN    12         NaN
top             NaN   Jan         NaN
freq            NaN    12         NaN
mean    1954.500000   NaN  280.298611
std        3.464102   NaN  119.966317
min     1949.000000   NaN  104.000000
25%     1951.750000   NaN  180.000000
50%     1954.500000   NaN  265.500000
75%     1957.250000   NaN  360.500000
max     1960.000000   NaN  622.000000

'Check Passengers Number on Flight'

   year month  passengers  CheckCondition
0  1949   Jan         112            True
1  1949   Feb         118            True
2  1949   Mar         132            True
3  1949   Apr         129            True
4  1949   May         121            True

'Combine Month-Year on Flight'

   year month  passengers  CheckCondition Month-Year
0  1949   Jan         112            True   Jan 1949
1  1949   Feb         118            True   Feb 1949
2  1949   Mar         132            True   Mar 1949
3  1949   Apr         129            True   Apr 1949
4  1949   May         121            True   May 1949

C:\Users\Admin\AppData\Local\Temp\ipykernel_21904\163073894.py:25: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lambda x : f"The Flight on {x[0]}-{x[1]} have {x[2]} passengers", axis=1

'Combine Month-Year on Flight'

,year,month,passengers,CheckCondition,Month-Year,Flight Description
0,1949,Jan,112,True,Jan 1949,The Flight on Jan-1949 have 112 passengers
1,1949,Feb,118,True,Feb 1949,The Flight on Feb-1949 have 118 passengers
2,1949,Mar,132,True,Mar 1949,The Flight on Mar-1949 have 132 passengers
3,1949,Apr,129,True,Apr 1949,The Flight on Apr-1949 have 129 passengers
4,1949,May,121,True,May 1949,The Flight on May-1949 have 121 passengers

In [9]:
# Question 6: Import a penguins dataset from seaborns
# A. Display Numeric and Categorical Statistics of flight dataset
# B. Write a Function to check body_mass_g greater than mean and at the island "Dream"
# C Make a column Description to descibe "Sex penguins Species live at island
# with bill length , flipper length, bill depth and body mass_g"
# D. Fill the NaN value of bill_length_mm	bill_depth_mm, flipper_length_mm, body_mass_g with mean of each

import seaborn as sns
data = sns.load_dataset("penguins")
display("Dataset", data.head())
print(data["island"].unique())
print(data["species"].unique())

'Dataset'

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

['Torgersen' 'Biscoe' 'Dream']
['Adelie' 'Chinstrap' 'Gentoo']

In [10]:
# Special Remember
def my_function(name="Anomyous", country="Norway"):
    print("My name is {}, I am from {}".format(name, country))


my_function("Alex")
my_function(country="Sweden")
my_function("Tèo", "VietNam")
my_function(country="VietName", name="Bo")
my_function()

Lang = "English"


def StudyLanguage():
    Name = "Alex"
    print(Name, " studies :", Lang)
    # Lang = "Korean"  # Error : UnboundLocalError: local variable 'Lang' referenced before assignment


StudyLanguage()
print("He knows:", Lang)
# print(Name, " knows :", Lang) # Error : NameError: name 'Name' is not defined

My name is Alex, I am from Norway
My name is Anomyous, I am from Sweden
My name is Tèo, I am from VietNam
My name is Bo, I am from VietName
My name is Anomyous, I am from Norway
Alex  studies : English
He knows: English

In [11]:
Name = "Alex"
HatColor = "Red"
TrouserColor = "Green"


def ChangeFashion():
    global HatColor
    HatColor = "Yellow"
    TrouserColor = "Yellow"
    print("Inside House : {} wear {} hat and {} trouser".format(
        Name, HatColor, TrouserColor))


print("Init: {} wear {} hat and {} trouser".format(Name, HatColor, TrouserColor))
ChangeFashion()
print("Outside House : {} wear {} hat and {} trouser".format(
    Name, HatColor, TrouserColor))

Init: Alex wear Red hat and Green trouser
Inside House : Alex wear Yellow hat and Yellow trouser
Outside House : Alex wear Yellow hat and Green trouser

In [12]:
# Special Remember
def myfamily(*kids):
    print("\tThe oldest child is " + kids[0])
    print("\tThe youngest child is " + kids[-1])


def calculation(*numberparms):
    sum = 0
    for num in numberparms:
        sum = sum + num
    mean = sum/len(numberparms)
    print("\tSum = {} and Mean = {}".format(sum, mean))
    return


print("myfamily : ")
myfamily("Tom", "Teo", "Ti", "Bin", "Bo")
print("calculation")
calculation(1, 2, 3, 4, 5)

myfamily :
	The oldest child is Tom
	The youngest child is Bo
calculation
	Sum = 15 and Mean = 3.0

In [13]:
# Special Remember
def registration(*info):
    name = info[0] if not info[0] is None else "N/A"
    age = info[1] if not info[1] is None else 20
    gender = info[2] if not info[2] is None else "Male"
    print(name, age, gender)


def _object(name, **properties):
    print(name, type(name))
    print(properties, type(properties))


def keyword_only(*items, _list, value=1):
    print(items, type(items))
    print(_list, type(_list))
    print(value, type(value))


inputParms = ["Nguyen Van A", 23, "Male"]
registration(*inputParms)
_object("Car", color="Red", cost=999999, company="Ferrari")

nums = [i ** 2 for i in range(1, 6)]
keyword_only(1, 2, 3, 4, 5, _list=nums, value=5)
keyword_only(1, 2, 3, 4, 5, _list=nums)
# keyword_only(1, 2, 3, 4, 5, nums)  ==> Error because unknown nums is _list or value

Nguyen Van A 23 Male
Car <class 'str'>
{'color': 'Red', 'cost': 999999, 'company': 'Ferrari'} <class 'dict'>
(1, 2, 3, 4, 5) <class 'tuple'>
[1, 4, 9, 16, 25] <class 'list'>
5 <class 'int'>
(1, 2, 3, 4, 5) <class 'tuple'>
[1, 4, 9, 16, 25] <class 'list'>
1 <class 'int'>

In [14]:
# Special Remember
def statistics(NumList):
    import numpy as np
    sum = np.sum(NumList)
    mean = np.mean(NumList)
    count = len(NumList)
    min = np.min(NumList)
    max = np.max(NumList)
    return sum, mean, count, min, max


sum, mean, count, min, max = statistics([1, 2, 3, 4, 5])
result = statistics([1, 2, 3, 4, 5])
print(sum, mean, count, min, max)
print(statistics([1, 2, 3, 4, 5]))
print(result, type(result))
for r in result:
    print(r)

15 3.0 5 1 5
(np.int64(15), np.float64(3.0), 5, np.int64(1), np.int64(5))
(np.int64(15), np.float64(3.0), 5, np.int64(1), np.int64(5)) <class 'tuple'>
15
3.0
5
1
5

In [17]:

def FindMixMax(N, start, stop):
    import random
    NumList = [round(random.uniform(start, stop), 2) for _ in range(N)]
    IList = [int(num) for num in NumList]
    DList = [round(num - int(num), 2) for num in NumList]
    return NumList, IList, DList

In [18]:
N = 10
start = 1
stop = 1000
print("Test 1")
NumList, IList, DList = FindMixMax(N, start, stop)
print(f"The Integer and Decimal Part of List \n{
      NumList} is \n Integer Part : {IList} \n Decimal Part:{DList}")

# Test 2
print("Test 2")
NumList, IList, DList = FindMixMax(N, start)
print(f"The Integer and Decimal Part of List \n{
      NumList} is \n Integer Part : {IList} \n Decimal Part:{DList}")

# Test 3
print("Test 3")
NumList, IList, DList = FindMixMax(N)
print(f"The Integer and Decimal Part of List \n{
      NumList} is \n Integer Part : {IList} \n Decimal Part:{DList}")

Test 1
The Integer and Decimal Part of List
[256.02, 840.77, 437.23, 336.27, 639.5, 677.61, 577.42, 241.02, 591.36, 183.9] is
 Integer Part : [256, 840, 437, 336, 639, 677, 577, 241, 591, 183]
 Decimal Part:[0.02, 0.77, 0.23, 0.27, 0.5, 0.61, 0.42, 0.02, 0.36, 0.9]
Test 2

TypeError: FindMixMax() missing 1 required positional argument: 'stop'

In [19]:
# Special Remember
def raise_to_power(x, y): return x ** y
def add(a): return a + 10


def introduction(name, major):
    return lambda salary: "Name : {}, Major : {} and Salary {} USD ".format(name, major, salary)


result = raise_to_power(2, 3)
print(result)
print(add(5))
employee = introduction("James", "AI Engineer")
print(employee(2000))

8
15
Name : James, Major : AI Engineer and Salary 2000 USD

In [20]:
def changelist(names1=None, names2=None):
    "This function is to change the input variable"
    names1.extend(["Alex", "Jame"])
    print("The inside list is :", names1)
    names2 = names2 + ["Alex", "Jame"]
    print("The inside list is :", names2)
    return


print("Case 01")
namelist1 = ["Marry", "Jone", "Peter"]
namelist2 = ["Marry", "Jone", "Peter"]
changelist(namelist1, namelist2)
print("The outside list is :", namelist1)
print("The outside list is :", namelist2)

print("Case 02")
namelist1 = ["Marry", "Jone", "Peter"]
namelist2 = ["Marry", "Jone", "Peter"]
changelist(namelist1.copy(), namelist2.copy())
print("The outside list is :", namelist1)
print("The outside list is :", namelist2)

Case 01
The inside list is : ['Marry', 'Jone', 'Peter', 'Alex', 'Jame']
The inside list is : ['Marry', 'Jone', 'Peter', 'Alex', 'Jame']
The outside list is : ['Marry', 'Jone', 'Peter', 'Alex', 'Jame']
The outside list is : ['Marry', 'Jone', 'Peter']
Case 02
The inside list is : ['Marry', 'Jone', 'Peter', 'Alex', 'Jame']
The inside list is : ['Marry', 'Jone', 'Peter', 'Alex', 'Jame']
The outside list is : ['Marry', 'Jone', 'Peter']
The outside list is : ['Marry', 'Jone', 'Peter']

In [21]:
def changestring(str1, str2, str3):
    str1 = "Today is a beautiful day"
    str2 += "Today is a beautiful day"
    str3 = str3 + "Today is a beautiful day"
    return


strInput01 = 'How is today ? '
strInput02 = 'How is today ? '
strInput03 = 'How is today ? '
changestring(strInput01, strInput02, strInput03)
print(strInput01)
print(strInput02)
print(strInput03)

How is today ?
How is today ?
How is today ?

In [22]:
def myfamily(*kids):
    print("The oldest child is " + kids[0])
    print("The youngest child is " + kids[-1])


def calculation(*numberparms):
    sum = 0
    for num in numberparms:
        print(" - Num {}".format(num))
        sum = sum + num
    mean = sum/len(numberparms)
    print("Sum = {} and Mean = {}".format(sum, mean))
    return


myfamily("Tom", "Teo", "Ti", "Bin", "Bo")
# my_function
calculation(1, 2, 3, 4, 5)

The oldest child is Tom
The youngest child is Bo
 - Num 1
 - Num 2
 - Num 3
 - Num 4
 - Num 5
Sum = 15 and Mean = 3.0

In [23]:
def registration(*info):
    name = info[0] if not info[0] is None else "N/A"
    age = info[1] if not info[1] is None else 20
    gender = info[2] if not info[2] is None else "Male"
    print(name, age, gender)


def _object(name, **properties):
    print(name, type(name))
    print(properties, type(properties))


def keyword_only(*items, _list, value=1):
    print(items, type(items))
    print(_list, type(_list))
    print(value, type(value))


inputParms = ["Nguyen Van A", 23, "Male"]
registration(*inputParms)


_object("Car", color="Red", cost=999999, company="Ferrari")

nums = [i ** 2 for i in range(1, 6)]
keyword_only(1, 2, 3, 4, 5, _list=nums, value=5)
keyword_only(1, 2, 3, 4, 5, _list=nums)
# keyword_only(1, 2, 3, 4, 5, nums)  ==> Error because unknown nums is _list or value

Nguyen Van A 23 Male
Car <class 'str'>
{'color': 'Red', 'cost': 999999, 'company': 'Ferrari'} <class 'dict'>
(1, 2, 3, 4, 5) <class 'tuple'>
[1, 4, 9, 16, 25] <class 'list'>
5 <class 'int'>
(1, 2, 3, 4, 5) <class 'tuple'>
[1, 4, 9, 16, 25] <class 'list'>
1 <class 'int'>

In [24]:
def my_function(name="Anomyous", country="Norway"):
    print("My name is {}, I am from {}".format(name, country))


my_function("Alex")
my_function(country="Sweden")
my_function("Tèo", "VietNam")
my_function(country="VietName", name="Bo")
my_function()

Lang = "English"


def StudyLanguage():
    Name = "Alex"
    print(Name, " studies :", Lang)
    # Lang = "Korean"  # Error : UnboundLocalError: local variable 'Lang' referenced before assignment


StudyLanguage()
print("He knows:", Lang)
# print(Name, " knows :", Lang) # Error : NameError: name 'Name' is not defined

My name is Alex, I am from Norway
My name is Anomyous, I am from Sweden
My name is Tèo, I am from VietNam
My name is Bo, I am from VietName
My name is Anomyous, I am from Norway
Alex  studies : English
He knows: English

In [25]:
Name = "Alex"
HatColor = "Red"
TrouserColor = "Green"


def ChangeFashion():
    global HatColor
    HatColor = "Yellow"
    TrouserColor = "Yellow"
    print("Inside House : {} wear {} hat and {} trouser".format(
        Name, HatColor, TrouserColor))


print("Init: {} wear {} hat and {} trouser".format(Name, HatColor, TrouserColor))
ChangeFashion()
print("Outside House : {} wear {} hat and {} trouser".format(
    Name, HatColor, TrouserColor))

Init: Alex wear Red hat and Green trouser
Inside House : Alex wear Yellow hat and Yellow trouser
Outside House : Alex wear Yellow hat and Green trouser

In [26]:
def outer():
    x = "local"

    def inner():
        nonlocal x
        x = "nonlocal"
        print("inner:", x)
    inner()
    print("outer:", x)


outer()

inner: nonlocal
outer: nonlocal

In [27]:
def statistics(NumList):
    import numpy as np
    sum = np.sum(NumList)
    mean = np.mean(NumList)
    count = len(NumList)
    min = np.min(NumList)
    max = np.max(NumList)
    return sum, mean, count, min, max


sum, mean, count, min, max = statistics([1, 2, 3, 4, 5])
result = statistics([1, 2, 3, 4, 5])
print(sum, mean, count, min, max)
print(statistics([1, 2, 3, 4, 5]))
print(result, type(result))
for r in result:
    print(r)

15 3.0 5 1 5
(np.int64(15), np.float64(3.0), 5, np.int64(1), np.int64(5))
(np.int64(15), np.float64(3.0), 5, np.int64(1), np.int64(5)) <class 'tuple'>
15
3.0
5
1
5

In [28]:
def raise_to_power(x, y): return x ** y
def add(a): return a + 10


def introduction(name, major):
    return lambda salary: "Name : {}, Major : {} and Salary {} USD ".format(name, major, salary)


result = raise_to_power(2, 3)
print(result)
print(add(5))
employee = introduction("James", "AI Engineer")
print(employee(2000))

8
15
Name : James, Major : AI Engineer and Salary 2000 USD